.azad{
color: yellowgreen;
background-color:red;
}


.azad2{
    background-color: black;
}

.azad3{
    color: gold;
}

.azad4{
    background-color: black
    ;
    font-size: medium 50px;
    color: orangered;
    weight: 500px;
    padding: 50px;
    border: 50%;
}